.card h2 {
  margin-top: 0;
  color: #0f4c81;
}

.scanner-input {
  width: 100%;
  padding: 18px;
  font-size: 20px;
  border: 2px solid #d9e2ec;
  border-radius: 12px;
  outline: none;
  transition: all .3s;
  margin-top: 15px;
}

.scanner-input:focus {
  border-color: #0f4c81;
  box-shadow: 0 0 0 4px rgba(15,76,129,.15);
}

.estado-scanner {
  margin-top: 18px;
  padding: 14px;
  border-radius: 10px;
  background: #eef6ff;
  color: #0f4c81;
  font-weight: bold;
  text-align: center;
}